{% extends "base.html" %}
{% load static %}

{% block title %}Home upgrade eligibility: {{ full_name }}'s employment status | Plymouth Energy Community{% endblock %}

{% block content %}
    <h2>What is {{ full_name }}'s employment status?</h2>

    <form method="POST">
        {% csrf_token %}

        <p>
            {{ form.employment_status }}
            {{ form.employment_status.errors }}
        </p>

        <button class="button">
            Next&nbsp;&rarr;
        </button>

        {% if prev_url %}
            <p><a href="{% url prev_url %}">Back to previous question</a></p>
        {% endif %}
    </form>
{% endblock %}
