{% extends "base.html" %}
{% load static %}

{% block title %}Home upgrade eligibility: {{ full_name }}'s employment income | Plymouth Energy Community{% endblock %}

{% block content %}
    <h2>What is {{ full_name }}'s income from all jobs before tax?</h2>

    <form method="POST">
        {% csrf_token %}

        <p class="currency">
            <span class="symbol">£</span>
            {{ form.employed_income }}
            {{ form.employed_income.errors }}
        </p>
        <p>
            {{ form.employed_income_frequency }}
            {{ form.employed_income_frequency.errors }}
        </p>

        <button class="button">
            Next&nbsp;&rarr;
        </button>

        {% if prev_url %}
            <p><a href="{% url prev_url %}">Back to previous question</a></p>
        {% endif %}
    </form>
{% endblock %}
