{% extends "questionnaire/base_question.html" %}
{% load static %}

{% block title %}Home upgrade eligibility: Adult #{{ adult_number }}'s name | Plymouth Energy Community{% endblock %}

{% block question_text %}
    <h2>Adult #{{ adult_number }}'s name</h2>
{% endblock question_text %}

{% block form_content %}
    <p>
        <label for="id_first_name">
            First name
        </label>
        {{ form.first_name }}
        {{ form.first_name.errors }}
    </p>

    <p>
        <label for="id_first_name">
            Last name
        </label>
        {{ form.last_name }}
        {{ form.last_name.errors }}
    </p>
{% endblock form_content%}
