{% extends "base.html" %}
{% load static %}

{% block title %}Home upgrade eligibility: {{ full_name }}'s employment income | Plymouth Energy Community{% endblock %}

{% block content %}
    <h2>What is {{ full_name }}'s income from self employment?</h2>

    <form method="POST">
        {% csrf_token %}

        <p>Income from any self employment</p>
        <p class="currency">
            <span class="symbol">£</span>
            {{ form.self_employed_income }}
            {{ form.self_employed_income.errors }}
        </p>
        <p>
            {{ form.self_employed_income_frequency }}
            {{ form.self_employed_income_frequency.errors }}
        </p>

        <p>Income received from profits from any business venture (including as a landlord)</p>
        <p>(If different from Self Employment income)</p>
        <p class="currency">
            <span class="symbol">£</span>
            {{ form.business_income }}
            {{ form.business_income.errors }}
        </p>
        <p>
            {{ form.business_income_frequency }}
            {{ form.business_income_frequency.errors }}
        </p>

        <button class="button">
            Next&nbsp;&rarr;
        </button>

        {% if prev_url %}
            <p><a href="{% url prev_url %}">Back to previous question</a></p>
        {% endif %}
    </form>
{% endblock %}
