{% extends "questionnaire/base_question.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Home upgrade eligibility: {{ full_name }}'s employment income | Plymouth Energy Community{% endblock %}

{% block question_text %}
    <h2>What welfare benefits are received by {{ full_name }}, if any?</h2>
{% endblock question_text %}

{% block form_content %}
    <p><em>Check all that apply</em></p>
    {{ form.uc|as_crispy_field }}
    {{ form.jsa|as_crispy_field }}
    {{ form.esa|as_crispy_field }}
    {{ form.income_support|as_crispy_field }}
    {{ form.child_tax_credit|as_crispy_field }}
    {{ form.working_tax_credit|as_crispy_field }}
    {{ form.child_benefit|as_crispy_field }}
    {{ form.housing_benefit|as_crispy_field }}
    {{ form.attendance_allowance|as_crispy_field }}
    {{ form.carers_allowance|as_crispy_field }}
    {{ form.dla|as_crispy_field }}
    {{ form.pip|as_crispy_field }}
    {{ form.pension_credit|as_crispy_field }}
    {{ form.other|as_crispy_field }}
{% endblock form_content %}
