{% extends "questionnaire/base_question.html" %}
{% load static %}

{% block title %}Home upgrade eligibility: {{ title }} | Plymouth Energy Community{% endblock %}

{% block question_text %}
    <h2>You have changed data</h2>
{% endblock question_text %}

{% block form_content %}
    <p>Some of your eligibility schemes may be based on your EPC rating, but you have indicated that the information in your EPC is incorrect or outdated.</p>
    <p>This means that the rating may no longer be accurate and it may be necessary to carry out a new EPC before applying for funding.</p>
{% endblock form_content %}
