{% extends "questionnaire/base_question.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Home upgrade eligibility: {{ user_data.title }} | Plymouth Energy Community{% endblock %}

{% block content %}

    <div class="progress">
        <label for="progress">progress</label>
        <progress id="progress" min="0" max="100" value="{{ percent_complete }}">{{ percent_complete }}</progress>
    </div>
    {% if prev_url %}
        <a href="{% url prev_url %}">&larr;&nbsp;Back to previous question</a>
    {% endif %}

    {% block question_text %}
        <h2>Summary of your answers</h2>
    {% endblock question_text %}

    <h4 class="summary-heading">
        {% include "./includes/icon_person.html" %}
        Your details
    </h4>

    <table>
        <tr>
            <td>Name</td>
            <td>{{ user_data.full_name }}</td>
            <td><a href='{% url "questionnaire:respondent-name" %}'>CHANGE</a></td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ user_data.email }}</td>
            <td><a href='{% url "questionnaire:email" %}'>CHANGE</a></td>
        </tr>
        {% if user_data.address %}
            <tr>
                <td>Address</td>
                <td>{{ user_data.address }}</td>
                <td><a href='{% url "questionnaire:respondent-address" %}'>CHANGE</a></td>
            </tr>
        {% endif %}
        <tr>
            <td>Phone number</td>
            <td>{% if user_data.phone %}{{ user_data.phone }}{% else %}N/A{% endif %}</td>
            <td><a href='{% url "questionnaire:contact-phone" %}'>CHANGE</a></td>
        </tr>
        <tr>
            <td>Mobile number</td>
            <td>{% if user_data.mobile %}{{ user_data.mobile }}{% else %}N/A{% endif %}</td>
            <td><a href='{% url "questionnaire:contact-phone" %}'>CHANGE</a></td>
        </tr>
        <tr>
            <td>What is your relationship to the property?</td>
            <td>{{ user_data.respondent_role|lower|capfirst }}</td>
            <td><a href='{% url "questionnaire:respondent-role" %}'>CHANGE</a></td>
        </tr>
        {% if user_data.respondent_role == "I am filling this out on behalf of the tenant or owner" %}
            <tr>
                <td>Whose home is this?</td>
                <td>{{ user_data.occupant_name }}</td>
                <td><a href='{% url "questionnaire:occupant-name" %}'>CHANGE</a></td>
            </tr>
        {% endif %}
    </table>

    <h4 class="summary-heading">
        {% include "./includes/icon_person.html" %}
        Household details
    </h4>

    <table>
        <tr>
            <td>How many adults live in the property?</td>
            <td>{{ user_data.adults }}</td>
            <td><a href='{% url "questionnaire:occupants" %}'>CHANGE</a></td>
        </tr>
        <tr>
            <td>How many children live in the property?</td>
            <td>{{ user_data.children }}</td>
            <td><a href='{% url "questionnaire:occupants" %}'>CHANGE</a></td>
        </tr>
        <tr>
            <td>How many seniors (over 65 years old) live in the property?</td>
            <td>{{ user_data.seniors }}</td>
            <td><a href='{% url "questionnaire:occupants" %}'>CHANGE</a></td>
        </tr>

        <tr>
            <td>Does anybody living in the home receive any disability related benefits?</td>
            <td>{{ user_data.disability_benefits|yesno|capfirst }}</td>
            <td><a href='{% url "questionnaire:disability-benefits" %}'>CHANGE</a></td>
        </tr>
        <tr>
            <td>Do you receive means tested benefits?</td>
            <td>{{ user_data.means_tested_benefits|yesno|capfirst }}</td>
            <td><a href='{% url "questionnaire:means-tested-benefits" %}'>CHANGE</a></td>
        </tr>

        {% if not user_data.means_tested_benefits %}

            <tr>
                <td>Were you receiving means tested benefits in the last 18 months?</td>
                <td>{{ user_data.past_means_tested_benefits|yesno|capfirst }}</td>
                <td><a href='{% url "questionnaire:past-means-tested-benefits" %}'>CHANGE</a></td>
            </tr>

        {% endif %}


        <tr>
            <td>Does anybody living in the home receive Child Benefit?</td>
            <td>{{ user_data.child_benefit|yesno:"Yes,No" }}</td>
            <td><a href='{% url "questionnaire:child-benefit" %}'>CHANGE</a></td>
        </tr>

        {% if user_data.child_benefit %}

            <tr>
                <td>How many children do you claim child benefit for (whether living in the house or elsewhere) or pay at least £21.80 per week of maintenance payments towards?</td>
                <td>{{ user_data.child_benefit_number }}</td>
                <td><a href='{% url "questionnaire:child-benefit-number" %}'>CHANGE</a></td>
            </tr>
            <tr>
                <td>Is the adult that receives Child Benefit single and living with other adults or living with a partner (ie. someone they are married to, civil partnered with or cohabitating as a couple)?</td>
                <td>{{ user_data.child_benefit_claimant_type }}</td>
                <td><a href='{% url "questionnaire:child-benefit-claimant-type" %}'>CHANGE</a></td>
            </tr>

        {% endif %}

        <tr>
            <td>Total household income</td>
            <td>{{ user_data.household_income }}</td>
            <td><a href='{% url "questionnaire:household-income" %}'>CHANGE</a></td>
        </tr>
        <tr>
            <td>What are your housing costs?</td>
            <td>{{ user_data.housing_costs }}</td>
            <td><a href='{% url "questionnaire:housing-costs" %}'>CHANGE</a></td>
        </tr>
        <tr>
            <td>Is the household entitled to a Council Tax reduction on the grounds of low income?</td>
            <td>{{ user_data.council_tax_reduction|yesno:"Yes,No"|capfirst }}</td>
            <td><a href='{% url "questionnaire:council-tax-reduction" %}'>CHANGE</a></td>
        </tr>
        <tr>
            <td>Are any children living in the household eligible for free school meals due to low income?</td>
            <td>{{ user_data.free_school_meals_eligibility|yesno:"Yes,No"|capfirst }}</td>
            <td><a href='{% url "questionnaire:free-school-meals-eligibility" %}'>CHANGE</a></td>
        </tr>



        {% include "questionnaire/includes/vulnerabilities.html" with user_data=user_data %}


    </tr>
    </table>

    <h2>
        Check your eligibility
    </h2>
    <p>
        Please click the button below to submit these details so that we can
        check which grant funding schemes you may be eligible for. We will
        also let you know which measures could be suitable for the property.
    </p>
    <p>
        This is a fast-moving industry and new grant schemes can become available
        at any time. If you submit your details by clicking the button below,
        we will notify you in the future if a new scheme becomes available
        that you may be eligible for.
    </p>


    <form method="POST">
        {% csrf_token %}
        {% block form_content %}
            <h4>How did you hear about PEC?</h4>
            <p>
                <label for="id_source_of_info_about_pec">
                    Before submitting your details, can you let us know how you heard about us? Please choose your answer from the drop-down list below:
                </label>
                <div>
                    {{ form.source_of_info_about_pec }}
                    {{ form.source_of_info_about_pec.errors }}
                </div>
            </p>
            <p>
                To see our recommendations please submit your details using the button below.
            </p>
        {% endblock form_content %}
        {% block nav_form %}
            <div class="nav-form">
                <button class="button" name="finish_now" value="True">
                    SUBMIT MY DETAILS
                </button>
            </div>
        {% endblock nav_form %}
    </form>

{% endblock %}
