{% extends "questionnaire/base_question.html" %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}Child Benefit: Eligibility summary | Plymouth Energy Community{% endblock %}

{% block question_text %}
    <h2>Child Benefit eligibility summary:</h2>
{% endblock question_text %}

{% block form_content %}
    <ul>
        <li>The person receiving Child Benefit is a
            {% if answers.child_benefit_single_claimant %}
                <b>single claimant</b>
            {% else %}
                <b>member of a couple</b>
            {% endif %}
        </li>
        <li>
            {% if answers.child_benefit_number == 1 %}
                There is
            {% else %}
                There are
            {% endif %}
            <b>{{ answers.child_benefit_number }}</b>
            child{{ answers.child_benefit_number|pluralize:"ren" }}
            (whether living in the house or elsewhere)
            for which benefits are calimed or for which at least £21.80 per
            week of maintenance is paid towards.
        </li>
    </ul>

    {% crispy form %}
{% endblock form_content %}
