{% extends "base.html" %}
{% load static %}

{% block title %}Home upgrade eligibility: Complete! | Plymouth Energy Community{% endblock %}

{% block content %}
    <h2>Thank you for completing this tool</h2>

    <p>You have completed all the questions and your answers have been saved. An email has been sent to you for your records.</p>

    <p>Read more about this project and how else we might be able to help you on the
        <a href="https://plymouthenergycommunity.com/residents/private-tenants">Plymouth Energy Community website</a>.
    </p>

{% endblock %}
