{% extends "questionnaire/base_question.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Home upgrade eligibility: {{ title }} | Plymouth Energy Community{% endblock %}

{% block question_text %}
    <h2 class="question-heading">
        {% include "./includes/icon_agree.html" %}
        Your consent to be contacted
    </h2>
    <p>Please confirm that you're happy for us to get in touch with you with
        advice and information on relevant grants.</p>
{% endblock question_text %}

{% block form_content %}
    {{ form.consented_callback|as_crispy_field }}
{% endblock form_content %}
