{% if form.field.widget_type == 'radioselect' %}
    <div class="govuk-radios" data-module="govuk-radios">
    {% for value, label in form.field.field.widget.choices %}
        <div class="govuk-radios__item">
            <input
                type="radio"
                id="{{ form.field.auto_id }}_{{ value }}"
                name="{{ form.field.html_name }}"
                value="{{ value }}"
                class="govuk-radios__input"
                {% if value == form.field.initial %}checked{% endif %}>
            <label
                class="govuk-label govuk-radios__label"
                for="{{ form.field.auto_id }}_{{ value }}">{{ label }}</label>

        </div>
    {% endfor %}
    </div>
{% elif form.field.widget_type == 'checkboxselectmultiple' %}
    {% for value, label in form.field.field.widget.choices %}
        <p>
            <input
                type="checkbox"
                id="{{ form.field.auto_id }}_{{ value }}"
                name="{{ form.field.html_name }}"
                value="{{ value }}"
                {% if value in form.field.initial %}checked{% endif %}>
            <label
                for="{{ form.field.auto_id }}_{{ value }}">{{ label }}</label>
        </p>
    {% endfor %}
{% elif form.field.widget_type == 'text' or form.field.widget_type == 'number' %}
    <p>
        <input
            type="text"
            id="{{ form.field.auto_id }}"
            name="{{ form.field.html_name }}"
            {% if form.field.widget_type == 'number' %}inputmode="decimal"{% endif %}
            value="{% if form.field.data %}{{ form.field.data }}{% elif form.field.initial %}{{ form.field.initial }}{% endif %}">
        {% if unit %}
            <span>{{ unit }}</span>
        {% endif %}
    </p>
{% endif %}

{% for error in form.field.errors %}
    <p>{{ error }}</p>
{% endfor %}
