{% extends "base.html" %}
{% load static %}

{% block title %}Home upgrade eligibility: Eligibility for current schemes | Plymouth Energy Community{% endblock %}

{% block content %}
    <h2>Your eligibility</h2>

    <form method="POST">
        {% csrf_token %}

        {% if not incomes_complete %}
            <p>
                Until we have a full record of household income we can't
                determine if you'll be eligible. We will hold your details and
                look to match you up with schemes that will find the measures
                your property needs and will suit your preferences. We will ask
                for further details of your household income if and when we
                match you with a scheme, we can help you to find these details.
                This may take some time but we will update you from time to
                time.  </p>
        {% elif financial_eligibility == "ALL" %}
            <p>
                It looks like you are eligible for funding based on the
                information you've supplied. We will look to match you up with
                schemes that will find the measures your property needs and
                will suit your preferences. This may take some time but we will
                update you from time to time.  </p>
        {% elif financial_eligibility == "SOME" %}
            <p>
                It looks like your household financial circumstances would only
                make you eligible for some schemes, not all. We will look to
                match you up with schemes that will find the measures your
                property needs and will suit your preferences. This may take
                some time but we will update you from time to time.  </p>
        {% else %}
            <p>
                You are unlikely to be eligible for funding, however it may
                still be financially worthwhile to pay for measures yourself.
                If you would like more information about this, finding good
                advice and reputable installers contact our team on 01752
                477990.
            </p>
        {% endif %}

        <p>Click 'Finish' below to save and submit all your answers.</p>

        <button class="button">
            Finish
        </button>
    </form>
{% endblock %}
