{% extends "questionnaire/base_question.html" %}
{% load static %}

{% block title %}Home upgrade eligibility: {{ title }} | Plymouth Energy Community{% endblock %}

{% block question_text %}
{% endblock question_text %}

{% block form_content %}

    <h2>Thank you, {{ full_name }}, for completing our online eligibility tool.</h2>

    <p>
        Your responses have been recorded and a copy has been sent to you by email for your records.
    </p>

    {% if measures %}

        {% include 'questionnaire/snippets/recommended_measures.html' %}

    {% endif %}

    {% if any_scheme_eligible %}
        {% include 'questionnaire/snippets/eligible_schemes.html' %}
    {% else %}
        {% include 'questionnaire/snippets/no_schemes_eligible.html' %}
    {% endif %}


    <p>Find out more about Future Fit and how we might be able to help you on the
        <a href="https://plymouthenergycommunity.com/residents/private-tenants">Plymouth Energy Community website</a>.
    </p>
{% endblock form_content %}

{% block nav_form %}
    {# remove default nav buttons #}
{% endblock nav_form %}

{% block call_us_line %}
    {# remove "call us" line #}
{% endblock call_us_line %}
