{% extends "questionnaire/base_question.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Home upgrade eligibility: {{ title }} | Plymouth Energy Community{% endblock %}

{% block question_text %}
    <h2>How is the heating in this property controlled?</h2>
{% endblock question_text %}

{% block question_supplement %}
    Take a look at this Energy Savings Trust page to review the different types of heating controls
    available:
    <a href="https://energysavingtrust.org.uk/advice/thermostats-and-heating-controls/">
        https://energysavingtrust.org.uk/advice/thermostats-and-heating-controls/
    </a>
{% endblock question_supplement %}

{% block form_content %}
    {% if any_orig %}
        <p>From the publicly available data on your property we think that there are:</p>
        <ul>
            {% if trvs_present_orig == 'ALL' %}
                <li>Thermostatically controlled radiator valves (TRVs)</li>
            {% endif %}
            {% if room_thermostat_orig %}
                <li>One or more room thermostats</li>
            {% endif %}
            {% if ch_timer_orig %}
                <li>A central heating timer</li>
            {% endif %}
            {% if programmable_thermostat_orig %}
                <li>A programmable central heating thermostat</li>
            {% endif %}
        </ul>
        </p>
        <p>If any of these are wrong, or if you have additional controls, please correct this below:</p>
    {% else %}
        <p>Which of the following control systems are present in this property?</p>
    {% endif %}

    {{ form.trvs_present|as_crispy_field }}
    {{ form.room_thermostat|as_crispy_field }}
    {{ form.ch_timer|as_crispy_field }}
    {{ form.programmable_thermostat|as_crispy_field }}
    {{ form.smart_thermostat|as_crispy_field }}
{% endblock form_content %}
