{% extends "base.html" %}

{% load static %}

{% block title %}Home upgrade eligibility: {{ title }} | Plymouth Energy Community{% endblock %}

{% block header %}
    <div class="home centered column">
        <div class="logo-home"></div>
        <h2>Upgrade your home to stay warm and save money</h2>
    </div>
{% endblock header %}

{% block content %}
    <div class="centered column">
        <h2>The Future Fit funding eligibility checker</h2>
        <p>
            Hello, we are currently in the process of upgrading this tool to account
            for new eligibility criteria for the latest retrofit funding schemes.
        </p>
        <p>We are aiming to complete this upgrade by November. Please try again then.</p>
        <p>
            In the meantime, if you have any questions relating to our retrofit services,
            please email us on
            <a href="mailto:futurefit@plymouthenergycommunity.com">futurefit@plymouthenergycommunity.com</a>
        </p>
        <p>Thank you for your patience.</p>
    </div>
{% endblock content %}
