{% extends "base.html" %}

{% load static %}

{% block title %}Home upgrade eligibility: {{ title }} | Plymouth Energy Community{% endblock %}

{% block header %}
    <div class="home centered column">
        <div class="logo-home"></div>
        <h2>Upgrade your home to stay warm and save money</h2>
    </div>
{% endblock header %}

{% block content %}
    <div class="centered column">
        <h2>The FutureFit funding eligibility checker</h2>
        <p>
            We’re here to help you upgrade your home so you can stay warm and save money.
        </p>
        <p>
            Through our partnership with Plymouth City Council, we’ve got
            access to money that can help you improve your home, but to get
            some of this you have to meet certain criteria.
        </p>
        <p>
            We know it can be frustrating to spend loads of time on the phone,
            so we’ve made this handy online eligibility checker. Completing it
            should take around 10-15 minutes, but it means you can find out if
            you’re eligible for a grant with the click of a few buttons. How
            cool is that?
        </p>
        <p>
            So, if you want to potentially:
        </p>
        <ul class="ticked">
            <li>save money</li>
            <li>be warmer</li>
            <li>help the environment</li>
        </ul>
        <p>
            …you’re in the right place!
        </p>
        <a href="{% url 'questionnaire:start' %}">
            <button type="button" class="button">
                Let's get started
            </button>
        </a>
    </div>
{% endblock content %}
