{% extends "questionnaire/base_question.html" %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}Home upgrade eligibility: Income summary | Plymouth Energy Community{% endblock %}

{% block question_text %}
    <h2>Your household's income:</h2>
{% endblock question_text %}

{% block form_content %}
    <ul>
        {% for adult in adult_incomes %}
            <li>
                <strong>{{ adult.name }}</strong>:
                £{{ adult.income|intcomma }}
            </li>
        {% endfor %}
    </ul>

    <p><strong>Total household income:</strong> £{{ calculated_income|intcomma }}</p>

    <p>
        <label>I confirm this is an accurate description of my household members' total annual income before tax</label>
        {{ form.confirm_or_amend_income|as_crispy_field }}
    </p>

    {% if calculated_income > 30000 %}
        <p>
            <label>Is the take home pay of your household after tax, national insurance, energy bills and housing costs less than £30,000?</label>
            {{ form.take_home_lt_30k_confirmation|as_crispy_field }}
        </p>
    {% endif %}
{% endblock form_content %}
