{% extends "questionnaire/base_question.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Home upgrade eligibility: {{ title }} | Plymouth Energy Community{% endblock %}

{% block question_text %}
    <h2>Motivations</h2>
{% endblock question_text %}

{% block form_content %}
    <p>
        {% if is_owner %}
            Why are you interested in improving your property? Please select any that apply.
        {% else %}
            What are the owner's aims for improving this property? Please select any that apply, or if you don't know their feelings please check "I don't know".
        {% endif %}
    </p>

    {{ form.motivation_better_comfort|as_crispy_field }}
    {{ form.motivation_lower_bills|as_crispy_field }}
    {{ form.motivation_environment|as_crispy_field }}
    {% if not is_owner %}
        {{ form.motivation_unknown|as_crispy_field }}
    {% endif %}

{% endblock form_content %}
