{% extends "base.html" %}
{% load static %}

{% block title %}Home upgrade eligibility: {{ title }} | Plymouth Energy Community{% endblock %}

{% block content %}
    <h2>Motivations</h2>

    <form method="POST">
        {% csrf_token %}

        <p>
            {% if is_householder %}
                What are the aims for upgrading this property? Please select any that apply.
            {% else %}
                What are the householder's aims for upgrading this property? Please select any that apply, or if you don't know their feelings please check "I don't know".
            {% endif %}
        </p>

        <p>
            {{ form.motivation_better_comfort }}
            <label for="id_motivation_better_comfort">Better comfort</label>
            {{ form.motivation_better_comfort.errors }}
        </p>
        <p>
            {{ form.motivation_lower_bills }}
            <label for="id_motivation_lower_bills">Lower bills</label>
            {{ form.motivation_lower_bills.errors }}
        </p>
        <p>
            {{ form.motivation_environment }}
            <label for="id_motivation_environment">A more environmentally friendly home</label>
            {{ form.motivation_environment.errors }}
        </p>
        {% if not is_householder %}
            <p>
                {{ form.motivation_unknown }}
                <label for="id_motivation_unknown">I don't know</label>
                {{ form.motivation_unknown.errors }}
            </p>
        {% endif %}

        <button class="button">
            Next&nbsp;&rarr;
        </button>

        {% if prev_url %}
            <p><a href="{% url prev_url %}">Back to previous question</a></p>
        {% endif %}
    </form>
{% endblock %}
