{% extends "questionnaire/base_question.html" %}
{% load static %}

{% block title %}Home upgrade eligibility: {{ title }} | Plymouth Energy Community{% endblock %}

{% block question_text %}
    <h2>Whose home is this?</h2>

    <p>Please tell us the name of the person on whose behalf you are enquiring.</p>
{% endblock question_text %}

{% block form_content %}
    <p>
        <label for="id_occupant_first_name">
            First name
        </label>
        {{ form.occupant_first_name }}
        {{ form.occupant_first_name.errors }}
    </p>

    <p>
        <label for="id_occupant_first_name">
            Last name
        </label>
        {{ form.occupant_last_name }}
        {{ form.occupant_last_name.errors }}
    </p>
{% endblock form_content %}
