{% extends "questionnaire/base_question.html" %}
{% load static %}

{% block title %}Home upgrade eligibility: {{ title }} | Plymouth Energy Community{% endblock %}

{% block question_text %}
    <h2 class="question-heading">
        {% include './includes/icon_person.html' %}
        Household composition
    </h2>
{% endblock question_text %}

{% block form_content %}
    <p>
        <label for="id_adults">
            How many adults live in the property?
        </label>
        {{ form.adults }}
        {{ form.adults.errors }}
    </p>

    <p>
        <label for="id_children">
            How many children live in the property?<sup>*</sup>
        </label>
        {{ form.children }}
        {{ form.children.errors }}
    </p>

    <p>
        <label for="id_seniors">
            How many seniors (over 65 years old) live in the property?
        </label>
        {{ form.seniors }}
        {{ form.seniors.errors }}
    </p>

    <p>
        <sup>*</sup><em>This means children under the age of 16, or under the age of 20 in
            approved education or training, and living in the property for at
            least 50% of the time. If child benefit is being claimed then
            an adult living in the home must receive at least half of the child
            benefit for the child to be classed as living in the home.
        </em>
    </p>
{% endblock form_content %}
