{% extends "questionnaire/base_question.html" %}
{% load static %}

{% block title %}Home upgrade eligibility: {{ title }} | Plymouth Energy Community{% endblock %}

{% block question_text %}

    <h2 class=""question-heading>
        {% include "./includes/icon_house.html" %}
        Property details
    </h2>
    <p>
        Our database has provided us with the following predictions about your home. Please have a read and let us know if anything is inaccurate by typing in the comments box below.
    </p>

    <table>
        <tr>
            <td>Property type</td>
            <td>{% if property_data.type %}{{ property_data.type }}{% else %}No data{% endif %}</td>
        </tr>
        <tr>
            <td>Attachment type</td>
            <td>{% if property_data.attachment %}{{ property_data.attachment }}{% else %}No data{% endif %}</td>
        </tr>
        <tr>
            <td>Construction period</td>
            <td>{% if property_data.construction_years %}{{ property_data.construction_years }}{% else %}No data{% endif %}</td>
        </tr>
        <tr>
            <td>Wall construction</td>
            <td>{% if property_data.wall_construction %}{{ property_data.wall_construction }}{% else %}No data{% endif %}</td>
        </tr>
        <tr>
            <td>Wall insulation</td>
            <td>
                {% if property_data.walls_insulation %}
                    {% if property_data.walls_insulation == "As built" %}
                        {{ property_data.walls_insulation }} <sup>*</sup>
                    {% else %}
                        {{ property_data.walls_insulation }}
                    {% endif %}
                {% else %}
                    No data
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Roof construction</td>
            <td>{% if property_data.roof_construction %}{{ property_data.roof_construction }}{% else %}No data{% endif %}</td>
        </tr>
        <tr>
            <td>Roof insulation</td>
            <td>
                {% if property_data.roof_insulation %}
                    {% if property_data.roof_insulation == "As built" %}
                        {{ property_data.roof_insulation }}
                        {% if property_data.walls_insulation != "As built" %}
                            <sup> *</sup>
                        {% else %}
                            <sup> **</sup>
                        {% endif %}
                    {% else %}
                        {{ property_data.roof_insulation }}
                    {% endif %}
                {% else %}
                    No data
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Floor construction</td>
            <td>{% if property_data.floor_construction %}{{ property_data.floor_construction }}{% else %}No data{% endif %}</td>
        </tr>
        <tr>
            <td>Floor insulation</td>
            <td>
                {% if property_data.floor_insulation %}



                    {% if property_data.floor_insulation == "As built" %}
                        {{ property_data.floor_insulation }}
                        {% if property_data.walls_insulation != "As built" and property_data.roof_insulation != "As built" %}
                            <sup>* </sup>
                        {% elif property_data.walls_insulation == "As built" and property_data.roof_insulation != "As built" or property_data.walls_insulation != "As built" and property_data.roof_insulation == "As built" %}
                            <sup>** </sup>
                        {% else %}
                            <sup>*** </sup>
                        {% endif %}
                    {% else %}
                        {{ property_data.roof_insulation }}
                    {% endif %}
                {% else %}
                    No data
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Glazing</td>
            <td>{% if property_data.glazing %}{{ property_data.glazing }}{% else %}No data{% endif %}</td>
        </tr>
        <tr>
            <td>Heating</td>
            <td>{% if property_data.heating %}{{ property_data.heating }}{% else %}No data{% endif %}</td>
        </tr>
        <tr>
            <td>Main fuel</td>
            <td>{% if property_data.main_fuel %}{{ property_data.main_fuel }}{% else %}No data{% endif %}</td>
        </tr>
        <tr>
            <td>Boiler efficiency</td>
            <td>{% if property_data.boiler_efficiency %}{{ property_data.boiler_efficiency }}{% else %}No data{% endif %}</td>
        </tr>
        <tr>
            <td>Standard of heating controls</td>
            <td>{% if property_data.controls_adequacy %}{{ property_data.controls_adequacy }}{% else %}No data{% endif %}</td>
        </tr>
        <tr>
            <td>Realistic fuel bill</td>
            <td>{% if property_data.realistic_fuel_bill %}{{ property_data.realistic_fuel_bill }}{% else %}No data{% endif %}</td>
        </tr>
        <tr>
            <td>Energy Performance Grade</td>
            <td>{% if property_data.sap_band %}{{ property_data.sap_band }}{% else %}No data{% endif %}</td>
        </tr>
    </table>

    {% if property_data.walls_insulation == "As built" %}
        <div>
            <p>
                <sup>* </sup>
                For homes built before the 1990s this is likely to mean no insulation or a very small amount. Some homes built in the 90s may also need a top up.
            </p>
        </div>
    {% endif %}

    {% if property_data.roof_insulation == "As built" %}
        <div>
            <p>
                {% if property_data.walls_insulation != "As built" %}
                    <sup>* </sup>
                {% else %}
                    <sup>** </sup>
                {% endif %}
                For homes built before the 1990s this is likely to mean a small amount of insulation. Some homes built even at the end of the 1990s may also need a top-up.
            </p>
        </div>
    {% endif %}

    {% if property_data.floor_insulation == "As built" %}
        <div>
            <p>
                {% if property_data.walls_insulation != "As built" and property_data.roof_insulation != "As built" %}
                    <sup>*</sup>
                {% elif property_data.walls_insulation == "As built" and property_data.roof_insulation != "As built" or property_data.walls_insulation != "As built" and property_data.roof_insulation == "As built" %}
                    <sup>**</sup>
                {% else %}
                    <sup>***</sup>
                {% endif %}
                For homes built before 2000 there is likely to be no, or very little, insulation in your floor.
            </p>
        </div>
    {% endif %}

{% endblock question_text %}
{% block form_content %}
    <div>
        <p>
            <label for="id_respondent_comments">
                Your comments:
            </label><br>
            {{ form.respondent_comments }}
        </p>
    </div>
{% endblock form_content %}
