{% extends "questionnaire/base_question.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Home upgrade eligibility: {{ title }} | Plymouth Energy Community{% endblock %}

{% block question_text %}
    <h2>Property Type</h2>
{% endblock question_text %}

{% block form_content %}
    {% if form.data_correct %}
        <p>From the publicly available data on your property we think that this property is a
            <strong>{{ initial_form }} {{ initial_type|lower }}</strong>
        </p>

        {{ form.data_correct|as_crispy_field }}

        <div id="correction"{% if form.initial.data_correct != False %} style="display: none"{% endif %} class="govuk-form-group">
            <p> If not please select the correct option below:</p>
            <p>
                {{ form.property_form }}
                {{ form.property_form.errors }}
            </p>
            <p>
                {{ form.property_type }}
                {{ form.property_type.errors }}
            </p>
        </div>

    {% else %}
        <p>
            Please select the options that best describe your property
        </p>

        <p>
            {{ form.property_form }}
            {{ form.property_form.errors }}
        </p>
        <p>
            {{ form.property_type }}
            {{ form.property_type.errors }}
        </p>

    {% endif %}
{% endblock form_content %}
