{% extends "base.html" %}
{% load static %}

{% block title %}Home upgrade eligibility: {{ title }} | Plymouth Energy Community{% endblock %}

{% block content %}
    <h2>Recommended measures</h2>

    <form method="POST">
        {% csrf_token %}

        <p>Based on what you've told us, we think the following measures would be suitable for this property:</p>

        {% for measure in measures %}
            <details>
                <summary>{{ measure.label }}</summary>
                Content to be supplied.
            </details>
            {% if measure.name == "SOLID_WALL_INSULATION" and sw_insulation_warning %}
                <p>As your home is in a conservation area solid wall insulation may not be possible</p>
            {% endif %}
        {% endfor %}
        <p>Next we will ask you about your preferences for home renovation. We will also need to ask you detailed questions about the incomes of the adults in the household to assess eligibility for funding support.</p>

        <p>If you would rather not do this you can stop here, and a PEC staff member can take these details from you over the phone at some point. Note that this will delay any application for funding that we can submit for you.</p>

        <button class="button" name="finish_now" value="True">
            Finish now
        </button>

        <button class="button" name="continue" value="continue">
            Continue&nbsp;&rarr;
        </button>

        {% if prev_url %}
            <p><a href="{% url prev_url %}">Back to previous question</a></p>
        {% endif %}
    </form>
{% endblock %}
