{% extends "questionnaire/base_question.html" %}
{% load static %}

{% block title %}Home upgrade eligibility: {{ title }} | Plymouth Energy Community{% endblock %}

{% block question_text %}
{% endblock question_text %}

{% block form_content %}

    {# This setup is for testing purposes only; copy is outdated and will be changed #}

    <h2>Thank you, {{ full_name }}, for completing our eligibility tool.</h2>

    <p>
        You have completed all the questions and your answers have been recorded. An email has been sent to you for your records.
    </p>

    {% if measures %}

        {% include 'questionnaire/snippets/recommended_measures.html' %}

    {% endif %}

    {% if hug2_eligibility == True %}
        {% include 'questionnaire/snippets/recommended_measures__green.html' %}
    {% else %}
        {% include 'questionnaire/snippets/recommended_measures__red.html' %}
    {% endif %}


    <p>Read more about this project and how else we might be able to help you on the
        <a href="https://plymouthenergycommunity.com/residents/private-tenants">Plymouth Energy Community website</a>.
    </p>
{% endblock form_content %}

{% block nav_form %}
    {# remove default nav buttons #}
{% endblock nav_form %}

{% block call_us_line %}
    {# remove "call us" line #}
{% endblock call_us_line %}
