{% extends "base.html" %}
{% load static %}

{% block title %}Home upgrade eligibility: {{ title }} | Plymouth Energy Community{% endblock %}

{% block content %}
    <h2>Your name</h2>


    <form method="POST">
        {% csrf_token %}

        <p>
            <label for="id_first_name">
                First name
            </label>
            {{ form.first_name }}
            {{ form.first_name.errors }}
        </p>

        <p>
            <label for="id_first_name">
                Last name
            </label>
            {{ form.last_name }}
            {{ form.last_name.errors }}
        </p>

        <button>
            Next&nbsp;&rarr;
        </button>

        {% if prev_url %}
            <p><a href="{% url prev_url %}">&larr;&nbsp;Back to previous question</a></p>
        {% endif %}
    </form>
{% endblock %}
