{% extends "base.html" %}
{% load static %}

{% block title %}Home upgrade eligibility: {{ title }} | Plymouth Energy Community{% endblock %}

{% block content %}
    <h3>Your relationship to the occupant</h3>


    <form method="POST">
        {% csrf_token %}

        {% for value, label in form.respondent_relationship.field.widget.choices %}
            {% if value %}{# filter out the empty value #}
                <p>
                    <input
                        type="radio"
                        id="{{ form.respondent_relationship.auto_id }}_{{ value }}"
                        name="{{ form.respondent_relationship.html_name }}"
                        value="{{ value }}"
                        {% if value == form.respondent_relationship.data or value == form.respondent_relationship.initial %}checked{% endif %}>
                    <label
                        for="{{ form.respondent_relationship.auto_id }}_{{ value }}">{{ label }}</label>
                </p>
            {% endif %}
        {% endfor %}
        {{ form.respondent_relationship.errors }}

        <p>
            <label for="id_first_name">
                If you entered 'other' above, please describe your relationship to the occupant:
            </label>
            {{ form.respondent_relationship_other }}
            {{ form.respondent_relationship_other.errors }}
        </p>

        <p>
            Do you have the occupant's permission to contact us on their behalf?
        </p>
        <p>
            <input
                type="radio"
                id="respondent_has_permission_yes"
                name="respondent_has_permission"
                value="True"
                {% if form.respondent_has_permission.initial == "True" %}checked{% endif %}
            >
            <label
                for="respondent_has_permission_yes">Yes</label>
        </p>

        <p>
            <input
                type="radio"
                id="respondent_has_permission_no"
                name="respondent_has_permission"
                value="False"
                {% if form.respondent_has_permission.initial == "False" %}checked{% endif %}
            >
            <label
                for="respondent_has_permission_no">No</label>
            {{ form.respondent_has_permission.errors }}
        </p>

        <button class="button">
            Next&nbsp;&rarr;
        </button>

        {% if prev_url %}
            <p><a href="{% url prev_url %}">&larr;&nbsp;Back to previous question</a></p>
        {% endif %}
    </form>
{% endblock %}
