{% extends "questionnaire/base_question.html" %}

{% load static %}

{% block title %}Home upgrade eligibility: {{ title }} | Plymouth Energy Community{% endblock %}

{% block question_text %}
    <h2>
        Use of your data
    </h2>
{% endblock question_text %}

{% block form_content %}
    <p>
        It’s not just the planet we want to protect, we also want to protect you and your data.
        We will store your data and information in accordance with data protection legislation.
    </p>
    <p>
        Our promise to you:
        <p>
        </p>
        We won't ever keep your data longer than necessary. We will never sell your
        data or provide it to third parties for fundraising or marketing. You can
        correct or amend the details we hold about you at any time, or ask to see
        the data we hold about you by emailing
        <a href="mailto:energyteam@plymouthenergycommunity.com">energyteam@plymouthenergycommunity.com</a>
    </p>
    <div>
        <input
            type="checkbox"
            id="{{ form.field.auto_id }}_{{ value }}"
            name="{{ form.field.html_name }}"
            value="True"
        >
        <label for="{{ form.field.auto_id }}_{{ value }}">
            {{ question_text }}
        </label>
        {% for error in form.field.errors %}
            <span class="input-error">Please accept our privacy terms to continue.</span>
        {% endfor %}
    </div>
{% endblock form_content %}
