{% extends "questionnaire/base_question.html" %}

{% load static %}

{% block title %}Home upgrade eligibility: {{ title }} | Plymouth Energy Community{% endblock %}

{% block question_text %}
    <h2>
        Use of your data
    </h2>
{% endblock question_text %}

{% block form_content %}
    <p>
        It’s not just the planet we want to protect, we also want to protect you and your data.
        We will store your data and information in accordance with data protection legislation.
    </p>
    <p>
        Our promise to you:
    </p>
    <p>
        We, PEC Trust, will record the information you give to us and use it to provide advice
        and support regarding upgrading your home. Your information may be shared with our
        funders for monitoring and evaluation purposes and, with your agreement, with our
        partners to provide services on your behalf such as surveying your home. For more
        information please see
        <a href="https://s3.eu-west-2.amazonaws.com/pec-assets-uk/files/Future-Fit/Privacy-Notice-Future-Fit.pdf">Future Fit Privacy Notice</a>
    </p>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
            <input
                type="checkbox"
                class="govuk-checkboxes__input"
                id="{{ form.field.auto_id }}_{{ value }}"
                name="{{ form.field.html_name }}"
                value="True"
            >
            <label
                class="govuk-label govuk-checkboxes__label"
                for="{{ form.field.auto_id }}_{{ value }}">
                {{ question_text }}
            </label>
            {% for error in form.field.errors %}
                <span class="input-error">Please accept our privacy terms to continue.</span>
            {% endfor %}
        </div>
    </div>
{% endblock form_content %}
