{% extends "questionnaire/base_question.html" %}

{% load static %}

{% block title %}Home upgrade eligibility: Thank you for completing this tool | Plymouth Energy Community{% endblock %}

{% block question_text %}
    <h2>Thank you for completing this tool</h2>

    <p>Read more about this project and how else we might be able to help you on the
        <a href="https://plymouthenergycommunity.com/residents/private-tenants"
            target="_blank" rel="noopener norefferer">
            Plymouth Energy Community website
        </a>.
    </p>

{% endblock %}

{% block nav_form %}
    {# remove default nav buttons #}
{% endblock nav_form %}
