{% extends "questionnaire/base_question.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Home upgrade eligibility: {{ title }} | Plymouth Energy Community{% endblock %}

{% block question_text %}
    <h2 class="question-heading">
        {% include "./includes/icon_person.html" %}
        Vulnerable occupants
    </h2>
{% endblock question_text %}

{% block form_content %}
    <p>
        Does your household fall under any of the following categories?
        <br />
        Tick all which apply
    </p>

    {% crispy form %}

    <p class="note">
        <strong>Why are we asking this?</strong><br>
        This can impact on the eligibility for some routes but will also be used to prioritise when support is limited to ensure those most in need are able to access it.
    </p>
{% endblock form_content %}
