{% extends "questionnaire/base_question.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Home upgrade eligibility: {{ title }} | Plymouth Energy Community{% endblock %}

{% block question_text %}
    <h2 class="question-heading">
        {% include "./includes/icon_person.html" %}
        Vulnerability to the cold
    </h2>
    <p>
        We ask for specific information about health conditions
        to help us to understand your eligibility for schemes.
        If you consent to us storing this information, please
        tick the boxes that applies below.
    </p>
{% endblock question_text %}

{% block form_content %}

    {% crispy form %}

{% endblock form_content %}
