{% extends "questionnaire/base_question.html" %}
{% load static %}

{% block title %}Home upgrade eligibility: {{ title }} | Plymouth Energy Community{% endblock %}

{% block question_text %}
<h2>Vulnerable occupants</h2>
{% end block question_text %}

{% block form_content %}
<p>Is anybody living in the home at an increased vulnerability to living in a cold home through one of the following? (select all that apply)</p>

<p>
    {{ form.vulnerable_cariovascular }}
    <label for="id_vulnerable_cariovascular">A cardiovascular condition (for example: heart condition, risk of stroke, high blood pressure etc.)</label>
</p>
<p>
    {{ form.vulnerable_respiratory }}
    <label for="id_vulnerable_respiratory">A respiratory condition (for example COPD or asthma)</label>
</p>
<p>
    {{ form.vulnerable_mental_health }}
    <label for="id_vulnerable_mental_health">A mental health condition</label>
</p>
<p>
    {{ form.vulnerable_cns }}
    <label for="id_vulnerable_cns">A central nervous system condition (for example dementia, Alzheimer's or fibromyalgia)</label>
</p>
<p>
    {{ form.vulnerable_disability }}
    <label for="id_vulnerable_disability">Disability</label>
</p>
<p>
    {{ form.vulnerable_age }}
    <label for="id_vulnerable_age">Being aged over 65</label>
</p>
<p>
    {{ form.vulnerable_child_pregnancy }}
    <label for="id_vulnerable_child_pregnancy">Being a child under the age of five, or being pregnant</label>
</p>
<p>
    <strong>Why are we asking this?</strong><br>
    This can impact on eligibility for some routes but will also be used by PEC to prioritise where support is limited to ensure those most in need are able to access it.
</p>
{% block form_content %}
