{% load static %}
<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home upgrade eligibility{% endblock title %}</title>
    <body>

        {% block content %}
        {% endblock content %}
        {% block javascript %}
        {% endblock javascript %}
        <script defer src="{% static 'js/project.js' %}"></script>
    </body>
</html>
