{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home upgrade eligibility{% endblock title %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&amp;display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon.png' %}">
    <link href="{% sass_src 'css/style.scss' %}" rel="stylesheet" type="text/css" />

    <body>
        <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
        <header class="wrapper panel">
            {% block header %}
                <a href="{% url "questionnaire:home" %}">
                    <h1 class="logo">
                        <img alt="FutureFit" src="{% static 'images/FF_LOGO_Landscape_green-trim.png' %}">
                    </h1>
                </a>
                <h2>Funding eligibility checker</h2>
            {% endblock header %}
        </header>
        <div class="wrapper panel content">
            {% block content %}
            {% endblock content %}
        </div>
        <footer>
            <div class="wrapper">
                <div class="footer-left">
                    <h2>A partnership between:</h2>
                </div>
                <div class="footer-right">
                    <div>
                        <img src="{% static 'images/pec_logo.svg' %}">
                        <img src="{% static 'images/LogoPCCBorder100px.png' %}">
                    </div>
                </div>
            </div>
        </footer>
        {% block javascript %}
        {% endblock javascript %}
        <script defer src="{% static 'js/main.js' %}"></script>
    </body>
</html>
