<p>
    Congratulations! It looks like you might be eligible for the following grants:
</p>

{% if whlg_eligibility %}
    <h4>Warm Homes Local Grant (WH:LG)</h4>
    <p>
        The Warm Homes Local Grant (WH:LG) scheme, due to be launched this year, can provide grant funded energy upgrades
        including insulation, solar panels and heat pumps. Your responses indicate that you may be eligible for this, however,
        due to the scheme being heavily oversubscribed nationally, Plymouth City Council has received a much lower allocation of
        funding than expected, so unfortunately not all eligible households will receive funding.
    </p>
    <p>    
        Although the scheme will run for three years, we expect demand to be high and support will need to be prioritised based
        on a combination of eligibility, property type, vulnerability and how ready a household is to move forward.
    </p>
    <p>    
        If you gave us permission to contact you, we will be in touch in due course, although please note this may not be until
        we start planning for 2026/27 allocations.
    </p>
{% endif %}

{% if eco4_eligibility or eco4flex_eligibility %}
    <h4>ECO4</h4>
    <p>
        ECO4 is funded by the government and the major energy suppliers in Great Britain.
        The government requires the energy suppliers to contribute to the Energy Company
        Obligation (ECO) scheme, which aims to improve the energy efficiency and heating
        of low-income and fuel-poor households.
    </p>

    {% if eco4_condition_1 %}
        <p>
            We think this fund might help you with the upgrades your home would benefit
            from. Contact us for more information.
        </p>
    {% elif eco4_condition_2 %}
        <p>
            It looks like you could be eligible for this scheme. However, we think it is
            likely that the grant would not cover the full cost of the necessary works.
            You may find it difficult to get help with this scheme. Contact your energy
            supplier for more guidance.
        </p>
    {% endif %}
{% endif %}

{% if bus_eligibility %}
    <h4>BUS</h4>
    <p>
        The Boiler Upgrade Scheme or "BUS", is a government initiative that offers grants to help
        property owners replace their fossil fuel heating systems with heat pumps or biomass boilers.
        The scheme aims to reduce carbon emissions, energy bills, and fuel poverty. The scheme is
        funded by the government and the major energy suppliers, and administered by Ofgem.
    </p>
    <p>
        We think this fund might help you with the upgrades your home needs. You should
        <a href="https://mcscertified.com/find-an-installer/"
            target="_blank"
            rel="noopener norefferer">
            contact some local MCS accredited heat pump installers</a>. We recommend getting three quotes.
    </p>
    {% if not_in_mains_gas %}
        <p>
            You are likely to be required to contribute toward the cost of a heat pump but replacing
            your current system with an air source heat pump is likely to significantly reduce your
            bills and carbon emissions.
        </p>
    {% else %}
        <p>
            The cost of installing a heat pump usually exceeds the value of the grant and may
            cost you more than replacing a gas boiler. The bills are likely to remain similar,
            but it would result in a significant reduction in carbon emissions.
        </p>
    {% endif %}
{% endif %}
{% if gbis_eligibility %}
    <p>
        The Great British Insulation Scheme or "GBIS", is a government initiative that offers
        free or subsidised insulation to reduce the energy bills of low-income and fuel-poor
        households in Great Britain. The scheme targets homes with low energy efficiency ratings
        and certain council tax bands. The scheme is funded by the government and the major
        energy suppliers and administered by Ofgem.
    </p>
    <p>
        The grant funding is only likely to cover some of the cost of any work. Contact your
        energy supplier for more guidance.
    </p>
{% endif %}
<h3>What next?</h3>
<p>
    We will assess your submission and contact you in the coming weeks to discuss the next steps.
</p>
