<p>
    It looks like you might be eligible for the following grants:
</p>

{% if whlg_eligibility %}
    <h4>Warm Homes Local Grant (WH:LG)</h4>
    <p>
        The Warm Homes Local Grant (WH:LG) scheme, due to be launched this year, can provide grant funded energy upgrades
        including insulation, solar panels and heat pumps. Your responses indicate that you may be eligible for this, however,
        due to the scheme being heavily oversubscribed nationally, Plymouth City Council has received a much lower allocation of
        funding than expected, so unfortunately not all eligible households will receive funding.
    </p>
    <p>    
        Although the scheme will run for three years, we expect demand to be high and support will need to be prioritised based
        on a combination of eligibility, property type, vulnerability and how ready a household is to move forward.
    </p>
    <p>    
        If you gave us permission to contact you, we will be in touch in due course, although please note this may not be until
        we start planning for 2026/27 allocations.
    </p>
{% endif %}

{% if bus_eligibility %}
    <h4>BUS</h4>
    <p>
        The Boiler Upgrade Scheme or "BUS", is a government initiative that offers grants to help
        property owners replace their fossil fuel heating systems with heat pumps or biomass boilers.
        The scheme aims to reduce carbon emissions, energy bills, and fuel poverty. The scheme is
        funded by the government and the major energy suppliers, and administered by Ofgem.
    </p>
    <p>
        We think this fund might help you with the upgrades your home needs. You should
        <a href="https://mcscertified.com/find-an-installer/"
            target="_blank"
            rel="noopener norefferer">
            contact some local MCS accredited heat pump installers</a>. We recommend getting three quotes.
    </p>
    {% if not_in_mains_gas %}
        <p>
            You are likely to be required to contribute toward the cost of a heat pump but replacing
            your current system with an air source heat pump is likely to significantly reduce your
            bills and carbon emissions - particularly because you are not on mains gas.
        </p>
    {% else %}
        <p>
            The cost of installing a heat pump usually exceeds the value of the grant and may
            cost you more than replacing a gas boiler. The bills are likely to remain similar,
            but it would result in a significant reduction in carbon emissions.
        </p>
    {% endif %}
{% endif %}
<h3>What next?</h3>
<p>
    We will assess your submission and contact you in the coming weeks to discuss the next steps.
</p>
