<h2>
    Good news, {{ full_name }} 🥳
</h2>
{% include 'questionnaire/snippets/recommended_measures.html' %}
<p>
    You could be eligible for some funding towards these measures.
</p>
{% if sap_rating %}
    {% comment %}
        With SAP rating:
            Amber1 (Ia,Pg)
            Amber1 (Ig,Pa)
            Amber1 (Ia,Pa)
    {% endcomment %}
    {% if income_rating == "AMBER" and property_rating == "GREEN" %}
        {# Amber1 Ia,Pg #}
        <p>
            Funding is targeted towards households with low incomes that are
            living in less energy efficient homes.
            Your property would meet the eligibility criteria for all schemes,
            but your income would be too high for some.
            This means it may take longer and be harder work to find a scheme
            that can help you.
        </p>
    {% elif income_rating == "GREEN" and property_rating == "AMBER" %}
        {# Amber1 Ig,Pa #}
        Funding is targeted towards households with low incomes that are
        living in less energy efficient homes.
        Your household income would meet the eligibility criteria for all
        schemes, but your house would be too energy efficient for some.
        This means it may take longer and be harder work to find a scheme
        that can help you.
    {% elif income_rating == "AMBER" and property_rating == "AMBER" %}
        {# Amber1 Ia,Pa #}
        Funding is targeted towards households with low incomes that are
        living in less energy efficient homes.
        Your house would be too energy efficient and your income too high
        for some schemes.
        This means it may be difficult to find a scheme that can help you,
        but we think there will be something out there.
    {% endif %}
{% else %}
    {% comment %}
        Without SAP rating:
            Amber2 (Ig,Pa)
            Amber2 (Ia,Pg)
            Amber2 (Ia,Pa)
    {% endcomment %}
    {% if income_rating == "AMBER" and property_rating == "GREEN" %}
        {# Amber2 Ia,Pg #}
        <p>
            Funding is targeted towards households with low incomes that are living in
            less energy efficient homes.
            Your house has never had an energy assessment, so we think you are eligible
            based on our best estimate, but this may prove incorrect when a survey is
            done.
            However your income would be too high for some schemes.
            This means it may take longer and be harder work to find a scheme that can
            help you.
        </p>
        <p>
    {% elif income_rating == "GREEN" and property_rating == "AMBER" %}
        {# Amber2 Ig,Pa #}
        <p>
            Funding is targeted towards households with low incomes that are
            living in less energy efficient homes.
            Your household income would meet the eligibility criteria for all schemes.
            Your house has never had an energy assessment, so based on our best
            estimate we think you would be eligible for some schemes but not all.
            This may prove incorrect when a survey is done.
        </p>
        <p>
            This means it may take longer and be harder work to find a scheme that can
            help you.
        </p>
    {% elif income_rating == "AMBER" and property_rating == "AMBER" %}
        {# Amber2 Ia,Pa #}
        <p>
            Funding is targeted towards households with low incomes that are living in
            less energy efficient homes.
            Your income would be too high for some schemes but not all.
            Your house has never had an energy assessment, so based on our best
            estimate we think you would be eligible for some schemes but not all.
            This may prove incorrect when a survey is done.
        </p>
        <p>
            This means it may be difficult to find a scheme that can help you, but we
            think there will be something out there.
        </p>
    {% endif %}
{% endif %}
<h2>
    What next?
</h2>
<p>
    Being eligible for funding doesn’t always mean it is easy to find an
    installer who will do the work.
    This is where we come in.
</p>
We really want to help make your home warmer, save you some money and cut
carbon emissions.
So, if you leave your details, we will let you know when there is a scheme
that could help you.
</p>
<p>
    This might be through a scheme we deliver but we will continue to
    investigate other offers available in the city and keep in touch with you.
    We can also bring you together with other households to get collective
    quotes that drive a better deal from installers.
</p>
{% comment %}
<p>
    If you could answer some further questions, it would help us to match you
    with a scheme sooner.
    We know you’re a busy person though, so if you don’t have more time we can
    work with what you have already provided.
</p>
<button class="button" name="continue" value="continue">
    YES, I CAN PROVIDE FURTHER DETAILS
</button>
<button class="button" name="finish_now" value="True">
    SUBMIT THE INFORMATION I HAVE ALREADY PROVIDED
</button>
<button class="button" name="finish_now" value="True">
    SUBMIT MY DETAILS
</button>
{% endcomment %}
